# Virtual environment
venv/
.env

# Ignore everything inside docs except .gitkeep
docs/*
!docs/.gitkeep

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / editor files
.vscode/
.idea/

# Chroma or temp data
chroma/
_temp/

# System
.DS_Store
Thumbs.db